@import url("./sass.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.7;
    
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    padding: 30px;
}

.header-title {
    position: absolute;
    bottom: 0px;
    color: white;
    right: 20px;
}

.paragragh {
    position: absolute;
    bottom: 90px;
    color: white;
    right: 20px;
    animation-name: movingUp;
    animation-duration: 3s;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0), rgb(8, 10, 1)) ,url('./images/relax.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0 100%);
}

.box-author {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.author {
    color: white;
    animation-name: movingLeft;
    animation-duration: 3s;
    animation-iteration-count: 3;
}

@keyframes movingLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movingUp {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (min-width: 720px) {
    .header {
        height: 95vh;
        background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0), rgb(8, 10, 1)) ,url('./images/relax.jpg');
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(20% 10%, 100% 0%, 100% 100%, 0 100%);
    }
    .paragragh {
        display: none;
    }
  }